<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>Url Shortner</h1>
    <div>
        <form method="post" action="/url">
            <label>Enter your url</label>
            <input type="text" name="url" placeholder="https://example.com">
            <button type="submit">Generate</button>
        </form>
    </div>
    <div>
        <table>
            <thead>
                <th>Sr.no</th>
                <th>Short Id</th>
                <th>Redirect Url</th>
                <th>No. of Clicks</th>
            </thead>
            <tbody>

                <% urls.forEach((url,index)=> { %>
                    <tr>
                        <td>
                            <%= index+1 %>
                        </td>
                        <td>
                            <%= url.urlShortCode%>
                        </td>
                        <td>
                            <%= url.redirectUrl%>
                        </td>
                        <td>
                            <%= url.activityOnUrl.length%>
                        </td>
                    </tr>
                    <% }) %>
            </tbody>
        </table>
    </div>
</body>

</html>